.form-login {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-container {
  position: absolute;
  margin: 0;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgb(33, 41, 66);
  border-radius: 9px;
  width: 400px;
  height: 550px;
  box-shadow: 1px 1px 100px 18px rgb(25, 31, 53);
}

.form-container h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #5c6bc0;
  font-size: 18px;
  margin-top: 60px;
  cursor: default;
}

.form-container h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #a1a4ad;
  letter-spacing: 1.5px;
  margin-bottom: 80px;
  cursor: default;
}

.form-container .error {
  text-align: center;
  height: 20px;
  padding: 2px;
  margin: 10px auto;
  position: absolute;
  top: 28%;
  left: 8%;
  color: red;
}
/* 
.form-container .savepass {
  position: absolute;
  float: left;
  left: 30px;
} */

.form-container .savepass .remember {
  position: relative;
  color: var(--color-text);
  font-size: 13px;
  top: -2px;
  left: 6px;
}

.form-container .forgetpass {
  position: absolute;
  float: right;
  right: 30px;
  color: var(--color-primary);
}

.form-container .forgetpass:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-container .create {
  position: absolute;
  left: 22%;
  bottom: 6%;
  color: var(--color-primary);
}

.form-container .create:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form-container .visibility-password {
  position: absolute;
  left: 338px;
  top: 278px;
  color: var(--color-icon);
  font-size: 22px;
  cursor: pointer;
}

.form-container .visibility-password.active {
  color: var(--color-primary);
}
