.btn {
  border: 0;
  background: var(--color-primary);
  color: #dfdeee;
  border-radius: 100px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: #5d33e6;
}

.btn.btn-form {
  position: absolute;
  margin-top: 36px;
  left: 50%;
  transform: translateX(-50%);
}

.btn.btn-signup {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.btn.btn-logout {
  margin: 20px;
}

.btn.btn-new-group {
  width: 150px;
  height: 50px;
  margin: 10px;
  margin-top: 50px;
}

.btn-list-group {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 4;
}
.btn-list-group:hover {
  background: #5d33e6;
  cursor: pointer;
}
